// TYPOGRAPHY
$font-size-huge: 24px;
$font-size-large: 18px;
$font-size-regular: 16px;
$font-size-medium: 13px;
$font-size-small: 12px;
$font-size-tiny: 10px;
$font-weight-regular: 500;
$letter-spacing-default: 1px;
$letter-spacing-medium: 1.7px;


//SPACING
$spacing-default: 20px;
$spacing-medium: 15px;
$spacing-small: 10px;
$spacing-tiny: 5px;


// COLORS
$cool-grey: #ccc5b9;
$white: #fff;
$blue: #243f5c;
$dusty-orange: #fe7f2d;

$box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.5);
$box-shadow-orange: 0 0 5px 2px $dusty-orange;